@charset "utf-8";
.f_catalog
{
	margin: 0;
	position: relative;
	/*display: inline-block;*/
	clear: both;
}
.f_catalog:after
{
	content: '';
	display: block;
	clear: both;
}
.f_catalog .cat_itemleft{
	position: relative;
	float: left;
	/* Убираем удвоение отступов в IE */
	display: inline;
	overflow: hidden;
	margin: 0 .2em .2em 0;
	width: 200px;
	min-width: 200px; border:1px solid #ddd;
/*	background-color:#777;*/
}

.f_catalog .cat_itemleft .ram{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:center;
}
.f_catalog .cat_itemleft .minprev{
	margin: 0 0 50px 0;
	height: 5em; /*под текст*/
	width: 200px;
}
.staff_desc { font:.9em/1.1em Arial, Helvetica, sans-serif; color:#777;}

.holder {
	width:170px; height:170px;
	text-align:center; display:table-cell; vertical-align:middle;
}
.holder a{border:1px solid #ccc !important; padding:5px; display:table; margin:0 auto; background-color:#FFFFFF; }
.holder a img{ margin-bottom:-5px;}
.holder a:hover{border:1px solid #777 !important;  background-color:#eee;}

.floats
{
/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
margin: 0em 0 0 -2em;

/* Эти правила для IE */
position: relative;
display: inline-block;
clear: both;
}
.floats:after
{
content: '';
display: block;
clear: both;
}
.floats .left
{
position: relative;
float: left; text-align:center;

/* Убираем удвоение отступов в IE */
display: inline;

/* Прячем все, что вдруг вылезло за наши ограничения */
overflow: hidden;

/* Отсупы между float-блоками */
margin: 3em 0 0 2em;

/* Задаем минимальную ширину по картинке и тексту */
width: 14em;
min-width: 200px;
}
.floats .left .r
{
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.floats .left .min
{
/* Задаем минимальную высоту по картинке */
margin: 0 0 200px 0;

/* Задаем минимальную высоту по тексту */
height: 4em;

/* Дублируем значение минимальной ширины по картинке для IE */
width: 200px;
}
