#wrapper ul { margin-left: 4em; } /* IE can't handle :before and :after */
#wrapper ul li { text-indent: 0; margin-left: 0; list-style: disc outside;}
legend { margin-bottom: 1.6em; } /* IE form margin bug */
sup, sub { font-size: 100%; } /* IE superscript & subscript bug */
blockquote p, blockquote ul, blockquote ol, blockquote dl, blockquote pre, blockquote address, blockquote table, blockquote form, blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 { margin-top: .8em; margin-bottom: .8em; } /* IE can't handle :first-child */
/** html textarea, * html input { padding: 0; cursor:auto; } /* IE < 7 form fix */
/*input[type='submit'], input[type='button'] { padding: 0; } /* IE 7 button fix */
legend+* { margin-top: 0; } /* we already added legend margin */

a abbr, a acronym { text-decoration: underline; } /* IE 7 bug */
* html .clearfix {height: 1%;} /* IE 6 clearfix */
* html .m5cssAlignImageLeft { float:left; margin:0 1em 1em 0}
* html .m5cssAlignImageRight { float:right; margin:0 0 1em 1em}
* html img {z-index: expression(runtimeStyle.zIndex = 1, align && "left" == align.toLowerCase() ? (className += " m5cssAlignImageLeft") : 0 ) }
* html img {scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = 1, align && "right" == align.toLowerCase() ? (className += " m5cssAlignImageRight") : 0 ) }

#fastsearch-form { margin:7px 0 0 -15px !important;}
#fastsearch-form input { line-height:10px;}
* html #fastsearch-form { margin:7px 0 0 -20px !important;}

* html .col1 {
    WIDTH: 100%
}

.bottommenu ul {display:inline-block;}
.bottommenu ul {display:inline;}
.bottommenu {text-align:center;}

.child { zoom:1; display:inline;}
.helper { zoom:1; display:inline}

#catalog { zoom:1 }
.integer { height:20px; margin:0px 5px 0 0; }
* html .integer  { height:32px; cursor:text; width:50px; }